if VENDOR_TO_BE_FILLED_BY_O.E.M

choice
	prompt "Mainboard model"

source "src/mainboard/to_be_filled_by_o.e.m/*/Kconfig.name"

endchoice

source "src/mainboard/to_be_filled_by_o.e.m/*/Kconfig"

config MAINBOARD_VENDOR
	string
	default "To be filled by O.E.M."

endif # VENDOR_TO_BE_FILLED_BY_O.E.M
